@import "reset";
@import "breakpoints";

$marginb: 20px;

#alhambra-app{
  position: absolute;
  top:0;
  left:0;
  margin-bottom: $marginb;
}

@keyframes rotating {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes rotate-back-even {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

$map-aspect:70.640545%;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.app_desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.location-cover{
  background-attachment: local !important;
}
.appContent {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
     align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    //margin-left: 2%;
    //margin-bottom: 2%;
    //background-color: rgba(70, 255, 0, 0.3);
}


.contentContainer {
    position: relative;
    margin-bottom: $marginb;
}

.tour--overlay,
.tour--frame {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 15%;
    /* width: 70%;
    height: 60%; */
}

.tour--overlay{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour--overlay--image{
  position: absolute;
  height: 100%;

  &.marker--hidden{
    display: none;
  }
  &.marker--visible{
    display: block;
  }
  &.image--hidden{
    display: none;
  }
  &.image--visible{
    display: block;
  }
}

.map--image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/map_fixed.svg");
    background-repeat: no-repeat;
    background-position: left bottom;

}

.map--locations {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $map-aspect;
}

.map__marker {
  position:absolute;
  background-color: rgba(0, 0, 0, 0);
  height:6.8%;
  width:3.7%;
  border-radius: 50%;
  cursor: pointer;

  &.map--active{
    background-color: rgba(0, 0, 0, 1);
  }
}


.pinWheelsContainer {
    position: relative;
    height: 100vh;
    width: 15%;
    min-width: 100px;
    display:flex;
    align-items:center;
    //background-color: rgba(255, 0, 0, 0.3);
}


.pinwheels{
  position:relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pinwheel--column{
  position:relative;
  width: 44%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.pinwheel__image {
    position: relative;
    width: 100%;
    transform-origin: 50% 50%;
    @include aspect-ratio(536,536);
    &:before{
      position:absolute;
    }
    img {
      transform: scale(1.24);
    }


    &.pinwheel--active{
      animation: rotating 2s linear infinite;
    }

}
